*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    body{
        font-family: 'Dosis', sans-serif;
        background-color: rgb(171, 152, 187);
        padding-top: 100px;
    }
    header{
        display: flex;
        margin-bottom: 40px;
        margin-left: 155px;
    }
    header h1{
    font-weight: bold;
    font-size: 2.5rem;
    }
    .container{
      margin-left: 320px;
    }
    form{
        display: flex;
        justify-content: space-between;
        max-width: 640px;
        width: 100%;
        margin-bottom: 50px;
    
    }
    form input{
        padding: 8px;
        border-radius: 30px;
        margin-top: 15px;
        margin: 5px;
        font-size: 24px;
        background-color: #fff;
        border: none;
    }
    form button{
        padding: 8px;
        border-radius: 30px;
        margin-left: 5px;
        background-color: rgb(150, 91, 205);
        color: #fff;
        font-size: 24px;
        cursor: pointer;
        font-weight: bold;
        border: none;
    }
    form button:hover{
        background-color: rgb(174, 125, 221);
      
    }
    table{
        font-size: large;
        margin-left: 95px;
    }
    table th{
        border-bottom: 2px solid #000;
        font-size: 24px;
        font-weight: bold;
        padding: 16px;
    }
    table td{
        padding: 16px;
        text-align: center;
        font-size: 18px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .resultado{
        padding: 4px;
        font-weight: bold;
        background-color: #000;
        color: #fff;
        border-radius: 3px;
    }
